html {
  scroll-behavior: smooth;
}

.section {
  height: 600px;
  padding-top: 100px;
}

#about{
  padding-top: 50px;
}

#contact{
  padding-top: 60px;
}
/* 
@media screen and (max-width: 480px) {
  body {
      background-color: black;
      color: white;
  }
  #contact{
    padding-top: 700px;
  }
} */